In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importación de los datos financieros 

Todos los números en miles

In [5]:
MSFT_estado_resultados = pd.read_excel("Datos originales de Mircrosfot y Alphabet (extraidos de Yahoo! finanzas el 03 - 02 - 2026).xlsx", sheet_name = 'Estado de Resultados de MSFT', header = 3)
MSFT_estado_resultados.head()

,Desglose,TTM,30/06/2025,30/06/2024,30/06/2023,30/06/2022
0,Ingresos totales,305.453.000,281.724.000,245.122.000,211.915.000,198.270.000
1,Ingresos de explotación,305.453.000,281.724.000,245.122.000,211.915.000,198.270.000
2,Coste de ingresos,95.954.000,87.831.000,74.114.000,65.863.000,62.650.000
3,Beneficio bruto,209.499.000,193.893.000,171.008.000,146.052.000,135.620.000
4,Gastos de explotación,66.940.000,65.365.000,61.575.000,57.529.000,52.237.000

In [8]:
MSFT_balance_general = pd.read_excel("Datos originales de Mircrosfot y Alphabet (extraidos de Yahoo! finanzas el 03 - 02 - 2026).xlsx", sheet_name = 'Balance General de MSFT', header = 3)
MSFT_balance_general.head(15)

,Desglose,30/06/2025,30/06/2024,30/06/2023,30/06/2022
0,Activos totales,619.003.000,512.163.000,411.976.000,364.840.000
1,Activo corriente,191.131.000,159.734.000,184.257.000,169.684.000
2,"Efectivo, equivalentes e inversiones CP",94.555.000,75.531.000,111.256.000,104.749.000
3,Efectivo y otros equivalentes,30.242.000,18.315.000,34.704.000,13.931.000
4,Efectivo,11.711.000,11.571.000,8.478.000,8.258.000
5,Activos líquidos equivalentes,18.531.000,6.744.000,26.226.000,5.673.000
6,Otras inversiones a corto plazo,64.313.000,57.216.000,76.552.000,90.818.000
7,Cuentas por cobrar,69.905.000,56.924.000,48.688.000,44.261.000
8,Cuentas pendientes,69.905.000,56.924.000,48.688.000,44.261.000
9,Cuentas por cobrar brutas,70.849.000,57.754.000,49.338.000,44.894.000
10,Provisión incobrables,-944,-830,-650,-633
11,Inventario,938000,1.246.000,2.500.000,3.742.000
12,Materias primas,--,394,709,1.144.000
13,Trabajo en curso,--,7,23,82
14,Productos acabados,--,845,1.768.000,2.516.000

In [10]:
Alphabet_estado_resultados = pd.read_excel("Datos originales de Mircrosfot y Alphabet (extraidos de Yahoo! finanzas el 03 - 02 - 2026).xlsx", sheet_name = 'Estado de Resultados de GOOG', header = 3)
Alphabet_estado_resultados.head()

,Desglose,TTM,31/12/2024,31/12/2023,31/12/2022,31/12/2021
0,Ingresos totales,385.476.000,350.018.000,307.394.000,282.836.000,257.637.000
1,Ingresos de explotación,385.476.000,350.018.000,307.394.000,282.836.000,257.637.000
2,Coste de ingresos,157.381.000,146.306.000,133.332.000,126.203.000,110.939.000
3,Beneficio bruto,228.095.000,203.712.000,174.062.000,156.633.000,146.698.000
4,Gastos de explotación,104.018.000,91.322.000,89.769.000,81.791.000,67.984.000

In [12]:
Alphabet_balance_general = pd.read_excel("Datos originales de Mircrosfot y Alphabet (extraidos de Yahoo! finanzas el 03 - 02 - 2026).xlsx", sheet_name = 'Balance General de GOOG', header = 3)
Alphabet_balance_general.head()

,Desglose,31/12/2024,31/12/2023,31/12/2022,31/12/2021
0,Activos totales,450.256.000,402.392.000,365.264.000,359.268.000
1,Activo corriente,163.711.000,171.530.000,164.795.000,188.143.000
2,"Efectivo, activos líquidos equivalentes e inve...",95.657.000,110.916.000,113.762.000,139.649.000
3,Efectivo y otros activos líquidos equivalentes,23.466.000,24.048.000,21.879.000,20.945.000
4,Otras inversiones a corto plazo,72.191.000,86.868.000,91.883.000,118.704.000

## Extracción, Transformación y Limpieza de los datos

* Observamos los valores nulos

In [16]:
tablas = [MSFT_balance_general, MSFT_estado_resultados, Alphabet_balance_general, Alphabet_estado_resultados]
nombre_tabla = ['MSFT_balance_general', 'MSFT_estado_resultados', 'Alphabet_balance_general', 'Alphabet_estado_resultados']
for i in range(len(tablas)):
    print(f"------- {nombre_tabla[i]} --------")
    print()
    print(tablas[i].isnull().sum())
    print(f"----------------------------------")
    print(f"----------------------------------")
    print()

------- MSFT_balance_general --------

Desglose      0
30/06/2025    0
30/06/2024    0
30/06/2023    0
30/06/2022    0
dtype: int64
----------------------------------
----------------------------------

------- MSFT_estado_resultados --------

Desglose      0
TTM           0
30/06/2025    0
30/06/2024    0
30/06/2023    0
30/06/2022    0
dtype: int64
----------------------------------
----------------------------------

------- Alphabet_balance_general --------

Desglose      0
31/12/2024    0
31/12/2023    0
31/12/2022    0
31/12/2021    0
dtype: int64
----------------------------------
----------------------------------

------- Alphabet_estado_resultados --------

Desglose      0
TTM           0
31/12/2024    0
31/12/2023    0
31/12/2022    0
31/12/2021    0
dtype: int64
----------------------------------
----------------------------------

* Filas duplicadas

In [19]:
tablas = [MSFT_balance_general, MSFT_estado_resultados, Alphabet_balance_general, Alphabet_estado_resultados]
nombre_tabla = ['MSFT_balance_general', 'MSFT_estado_resultados', 'Alphabet_balance_general', 'Alphabet_estado_resultados']
for i in range(len(tablas)):
    print(f"------- {nombre_tabla[i]} --------")
    print()
    print(tablas[i].duplicated().sum())
    print(f"----------------------------------")
    print(f"----------------------------------")
    print()

------- MSFT_balance_general --------

0
----------------------------------
----------------------------------

------- MSFT_estado_resultados --------

0
----------------------------------
----------------------------------

------- Alphabet_balance_general --------

0
----------------------------------
----------------------------------

------- Alphabet_estado_resultados --------

0
----------------------------------
----------------------------------

In [21]:
tablas = [MSFT_balance_general, MSFT_estado_resultados, Alphabet_balance_general, Alphabet_estado_resultados]

for k in tablas:
    columnas = k.columns.to_list()

    for i in range(len(columnas)):
        if columnas[i] == columnas[0]:
            None
        else:
           k[columnas[i]]= k[columnas[i]].apply(lambda x: str(x).replace('.',''). replace(',','.'))
    
    for i in range(1, k.shape[1]):
        for j in range(k.shape[0]):
            valor = k.iloc[j, i]

            if "." in valor:
                k.iloc[j, i] = float(valor)
            elif "--" in valor:
                k.iloc[j, i] = str(valor)
            else: 
                k.iloc[j, i] = int(valor)

Pasar todos los números a millones

In [24]:
tablas = [MSFT_balance_general, MSFT_estado_resultados, Alphabet_balance_general, Alphabet_estado_resultados]

for k in tablas:
    
    for i in range(1, k.shape[1]):
        
        for j in range(k.shape[0]):
            valor = k.iloc[j, i]

            if valor == "--":
                k.iloc[j, i] = valor
            else: 
                k.iloc[j, i] = valor/1000

### Por lo tanto obtenemos

In [27]:
MSFT_balance_general.head()

,Desglose,30/06/2025,30/06/2024,30/06/2023,30/06/2022
0,Activos totales,619003.0,512163.0,411976.0,364840.0
1,Activo corriente,191131.0,159734.0,184257.0,169684.0
2,"Efectivo, equivalentes e inversiones CP",94555.0,75531.0,111256.0,104749.0
3,Efectivo y otros equivalentes,30242.0,18315.0,34704.0,13931.0
4,Efectivo,11711.0,11571.0,8478.0,8258.0

In [29]:
MSFT_estado_resultados.head()

,Desglose,TTM,30/06/2025,30/06/2024,30/06/2023,30/06/2022
0,Ingresos totales,305453.0,281724.0,245122.0,211915.0,198270.0
1,Ingresos de explotación,305453.0,281724.0,245122.0,211915.0,198270.0
2,Coste de ingresos,95954.0,87831.0,74114.0,65863.0,62650.0
3,Beneficio bruto,209499.0,193893.0,171008.0,146052.0,135620.0
4,Gastos de explotación,66940.0,65365.0,61575.0,57529.0,52237.0

In [31]:
Alphabet_estado_resultados.head()

,Desglose,TTM,31/12/2024,31/12/2023,31/12/2022,31/12/2021
0,Ingresos totales,385476.0,350018.0,307394.0,282836.0,257637.0
1,Ingresos de explotación,385476.0,350018.0,307394.0,282836.0,257637.0
2,Coste de ingresos,157381.0,146306.0,133332.0,126203.0,110939.0
3,Beneficio bruto,228095.0,203712.0,174062.0,156633.0,146698.0
4,Gastos de explotación,104018.0,91322.0,89769.0,81791.0,67984.0

In [33]:
Alphabet_balance_general.head()

,Desglose,31/12/2024,31/12/2023,31/12/2022,31/12/2021
0,Activos totales,450256.0,402392.0,365264.0,359268.0
1,Activo corriente,163711.0,171530.0,164795.0,188143.0
2,"Efectivo, activos líquidos equivalentes e inve...",95657.0,110916.0,113762.0,139649.0
3,Efectivo y otros activos líquidos equivalentes,23466.0,24048.0,21879.0,20945.0
4,Otras inversiones a corto plazo,72191.0,86868.0,91883.0,118704.0

## INDICADORES FINANCIEROS DE EMPRESAS TECNOLOGICAS

### Ratios de Liquidez

* Liquidez corriente

In [38]:
# Alphabet_balance_general.iloc[1,:] # Activo corriente
# Alphabet_balance_general.iloc[33,:] # Pasivo corriente

In [39]:
# MSFT_balance_general.iloc[1,:] # Activo corriente
# MSFT_balance_general.iloc[37,:] # Pasivo corriente

In [41]:
columnas = MSFT_balance_general.columns.to_list()[5:0:-1]

liquidez_corriente_MSFT = []
for i in columnas:
        lc_msft = round(MSFT_balance_general.loc[1,i]/ MSFT_balance_general.loc[37,i],1)
        liquidez_corriente_MSFT.append(lc_msft)

print(liquidez_corriente_MSFT)

[1.8, 1.8, 1.3, 1.4]

In [43]:
columnas = Alphabet_estado_resultados.columns.to_list()[5:1:-1]

liquidez_corriente_alphabet = []
for i in columnas:
    lc_alphabet = round(Alphabet_balance_general.loc[1,i]/ Alphabet_balance_general.loc[33,i],1)
    liquidez_corriente_alphabet.append(lc_alphabet)

print(liquidez_corriente_alphabet)

[2.9, 2.4, 2.1, 1.8]

In [45]:
liquidez_corriente = pd.DataFrame([liquidez_corriente_alphabet, liquidez_corriente_MSFT], index=['Alphabet', 'Microsoft'], columns=[Alphabet_estado_resultados.columns.to_list()[5:1:-1]])
liquidez_corriente

          31/12/2021 31/12/2022 31/12/2023 31/12/2024
Alphabet         2.9        2.4        2.1        1.8
Microsoft        1.8        1.8        1.3        1.4

* Capital de trabajo

In [48]:
columnas = MSFT_balance_general.columns.to_list()[5:0:-1]

capital_trabajo_MSFT = []
for i in columnas:
        lc_msft = MSFT_balance_general.loc[1,i] - MSFT_balance_general.loc[37,i]
        capital_trabajo_MSFT.append(lc_msft)

print(capital_trabajo_MSFT)

[74602.0, 80108.0, 34448.0, 49913.0]

In [50]:
columnas = Alphabet_estado_resultados.columns.to_list()[5:1:-1]

capital_trabajo_alphabet = []
for i in columnas:
    lc_alphabet = Alphabet_balance_general.loc[1,i] - Alphabet_balance_general.loc[33,i]
    capital_trabajo_alphabet.append(lc_alphabet)

print(capital_trabajo_alphabet)

[123889.0, 95495.0, 89716.0, 74589.0]

In [51]:
capital_de_trabajo = pd.DataFrame([capital_trabajo_alphabet, capital_trabajo_MSFT], index=['Alphabet', 'Microsoft'], columns=[Alphabet_estado_resultados.columns.to_list()[5:1:-1]])
capital_de_trabajo

          31/12/2021 31/12/2022 31/12/2023 31/12/2024
Alphabet    123889.0    95495.0    89716.0    74589.0
Microsoft    74602.0    80108.0    34448.0    49913.0

## RATIOS DE ENDEUDAMIENTO Ó SOLVENCIA

* Ratio de 
endeudamiento

In [57]:
columnas = Alphabet_estado_resultados.columns.to_list()[5:1:-1]

ratio_endeudamiento_alphabet = []
for i in columnas:
    re_alphabet = round((Alphabet_balance_general.loc[33,i] +  Alphabet_balance_general.loc[47,i]) / Alphabet_balance_general.loc[57,i],2)
    ratio_endeudamiento_alphabet.append(re_alphabet)

print(ratio_endeudamiento_alphabet)

[0.43, 0.43, 0.42, 0.39]

In [61]:
columnas = MSFT_balance_general.columns.to_list()[5:0:-1]

ratio_endeudamiento_MSFT = []
for i in columnas:
        re_msft = round((MSFT_balance_general.loc[37,i] + MSFT_balance_general.loc[48,i]) / MSFT_balance_general.loc[52,i] ,2)
        ratio_endeudamiento_MSFT.append(re_msft)

print(ratio_endeudamiento_MSFT)

[1.19, 1.0, 0.91, 0.8]

In [63]:
ratio_de_endeudamiento = pd.DataFrame([ratio_endeudamiento_alphabet, ratio_endeudamiento_MSFT], index=['Alphabet', 'Microsoft'], columns=[Alphabet_estado_resultados.columns.to_list()[5:1:-1]])
ratio_de_endeudamiento

          31/12/2021 31/12/2022 31/12/2023 31/12/2024
Alphabet        0.43       0.43       0.42       0.39
Microsoft       1.19       1.00       0.91       0.80

* % de 
endeudamiento

* Cobertura de Deuda Financiera

In [68]:
# Alphabet_balance_general.loc[42, i]:
# Deuda corriente y obligaciones por arrendamiento de capital

# Alphabet_balance_general.loc[48, i]:
# Deuda a largo plazo y obligaciones por arrendamiento de capital

# Alphabet_estado_resultados.loc[39, i]:
# EBITDA

columnas = Alphabet_estado_resultados.columns.to_list()[5:1:-1]

cobertura_de_deuda_alphabet = []
for i in columnas:
    cf_alphabet = round((Alphabet_balance_general.loc[42,i] +  Alphabet_balance_general.loc[48,i]) / Alphabet_estado_resultados.loc[39,i],1)
    cobertura_de_deuda_alphabet.append(cf_alphabet)

print(cobertura_de_deuda_alphabet)

[0.3, 0.3, 0.3, 0.2]

In [70]:
# MSFT_balance_general.loc[43,i]:
# Deuda corriente
# MSFT_balance_general.loc[49,i]:
# Deuda a largo plazo
# MSFT_estado_resultados.loc[38,i]:
# EBITDA

columnas = MSFT_balance_general.columns.to_list()[5:0:-1]

cobertura_de_deuda_MSFT = []
for i in columnas:
        cf_msft = round((MSFT_balance_general.loc[43,i] + MSFT_balance_general.loc[49,i]) / MSFT_estado_resultados.loc[38,i] ,1)
        cobertura_de_deuda_MSFT.append(cf_msft)

print(cobertura_de_deuda_MSFT)

[0.6, 0.6, 0.5, 0.4]

In [72]:
Cobertura_de_Deuda_Financiera = pd.DataFrame([cobertura_de_deuda_alphabet, cobertura_de_deuda_MSFT], index=['Alphabet', 'Microsoft'], columns=[Alphabet_estado_resultados.columns.to_list()[5:1:-1]])
Cobertura_de_Deuda_Financiera

          31/12/2021 31/12/2022 31/12/2023 31/12/2024
Alphabet         0.3        0.3        0.3        0.2
Microsoft        0.6        0.6        0.5        0.4

## RATIOS DE GESTIÓN Ó EFICIENCIA OPERATIVA:

* Rotación de Inventarios

In [76]:
columnas = Alphabet_estado_resultados.columns.to_list()[5:1:-1]

rotacion_inventario_alphabet = []

for i in columnas:
    if  Alphabet_balance_general.loc[10,i] != '--':
        ri_alphabet = round(Alphabet_balance_general.loc[10,i] / (Alphabet_estado_resultados.loc[2,i]/365),1)
        rotacion_inventario_alphabet.append(ri_alphabet)
    else:
        rotacion_inventario_alphabet.append('--')
print(rotacion_inventario_alphabet)

[3.8, 7.7, '--', '--']

In [78]:
columnas = MSFT_balance_general.columns.to_list()[5:0:-1]

rotacion_inventario_MSFT = []
for i in columnas:
    ri_msft = round(MSFT_balance_general.loc[11,i] / (MSFT_estado_resultados.loc[2,i] / 365) ,1)
    rotacion_inventario_MSFT.append(ri_msft)

print(rotacion_inventario_MSFT)

[21.8, 13.9, 6.1, 3.9]

In [84]:
rotacion_de_Inventarios = pd.DataFrame([rotacion_inventario_alphabet, rotacion_inventario_MSFT], index=['Alphabet', 'Microsoft'], columns=[Alphabet_estado_resultados.columns.to_list()[5:1:-1]])
rotacion_de_Inventarios

          31/12/2021 31/12/2022 31/12/2023 31/12/2024
Alphabet         3.8        7.7         --         --
Microsoft       21.8       13.9        6.1        3.9

In [183]:
for i in range(MSFT_balance_general.shape[0]):
    if "Inventario" in  MSFT_balance_general.iloc[i,0]:
        print(MSFT_balance_general.iloc[i,0])

Inventario

In [185]:
for i in range(MSFT_balance_general.shape[0]):
    if "Inventario" in  MSFT_balance_general.iloc[i,0]:
        print(MSFT_balance_general.iloc[i,:])

Desglose      Inventario
30/06/2025         0.938
30/06/2024        1246.0
30/06/2023        2500.0
30/06/2022        3742.0
Name: 11, dtype: object

17180000

In [15]:
MSFT_balance_general.columns.to_list()

['Desglose', 'TTM', '30/06/2025', '30/06/2024', '30/06/2023', '30/06/2022']

In [17]:
MSFT_estado_resultados_columnas = MSFT_estado_resultados.columns.to_list()
MSFT_estado_resultados_columnas[0]

for i in range(len(MSFT_estado_resultados_columnas)):
    if MSFT_estado_resultados_columnas[i] == MSFT_estado_resultados_columnas[0]:
        None
    else:
       MSFT_estado_resultados[MSFT_estado_resultados_columnas[i]]= MSFT_estado_resultados[MSFT_estado_resultados_columnas[i]].apply(lambda x: str(x).replace('.',''). replace(',','.'))

In [19]:
"." in MSFT_estado_resultados.iloc[33, 1]

True

In [21]:
for i in range(1, MSFT_estado_resultados.shape[1]):  # salta columna texto
    for j in range(MSFT_estado_resultados.shape[0]):
        valor = MSFT_estado_resultados.iloc[j, i]

        if "." in valor:
            MSFT_estado_resultados.iloc[j, i] = float(valor)
        else: 
            MSFT_estado_resultados.iloc[j, i] = int(valor)

In [23]:
MSFT_estado_resultados.iloc[:, 1]/1000

0         305453.0
1         305453.0
2          95954.0
3         209499.0
4          66940.0
5          33263.0
6           7465.0
7           7465.0
8          25798.0
9          33677.0
10        142559.0
11           0.539
12          3182.0
13          2643.0
14          3442.0
15          1843.0
16          -0.142
17           0.142
18          1741.0
19        146540.0
20         27278.0
21        119262.0
22        119262.0
23        119262.0
24        119262.0
25        119262.0
26           1.605
27           1.598
28          7432.0
29          7462.0
30        142559.0
31        162894.0
32        119262.0
33    117877.63626
34          3182.0
35          2643.0
36           0.539
37        149183.0
38        188298.0
39         95954.0
40         39115.0
41        119262.0
42          1701.0
43          1701.0
44        186597.0
45             0.0
46       316.63626
Name: TTM, dtype: object

In [35]:
MSFT_estado_resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Desglose    47 non-null     object
 1   TTM         47 non-null     object
 2   30/06/2025  47 non-null     object
 3   30/06/2024  47 non-null     object
 4   30/06/2023  47 non-null     object
 5   30/06/2022  47 non-null     object
dtypes: object(6)
memory usage: 2.3+ KB

In [33]:
type(MSFT_estado_resultados.iloc[42, 1])

int

In [248]:
for i in range(len(MSFT_estado_resultados_columnas)):
    for  j in range(MSFT_estado_resultados.shape[0]):
        if MSFT_estado_resultados_columnas[i] == MSFT_estado_resultados_columnas[0]:
            continue
        else: 
            valor = MSFT_estado_resultados.iloc[j, i]
            if '.' in valor:
                MSFT_estado_resultados.iloc[j, i] = float(valor)

In [41]:
type(MSFT_estado_resultados.iloc[33,1])

float